fastapi
uvicorn[standard]
sqlalchemy
pydantic
pydantic-settings
python-multipart
python-jose[cryptography]
passlib[bcrypt]
ultralytics
opencv-python-headless
numpy
pandas
joblib
requests
alembic
psycopg2-binary
websockets
python-dotenv
scikit-learn
aiohttp
gunicorn
moviepy
